.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    background-color: #282c34;
    color: white;
    margin: 8px;
    border-radius: 5px;
    height: 50px;
}
.todo-item p {
    font-size: 15px;
    /* margin: 10px; */
}
.todo-item svg {
    width: 30px;
    /* margin: 10px; */
    /* background-color: #8566aa; */
    color: #00cccc;
    cursor: pointer;
}
